// Colors
$color-background: #ebf6f8;
$color-primary: #ff5c00;
$color-border: #ebebeb;
$color-text: #000000;
$color-white: #ffffff;

// Typography
$font-primary: "Roboto", sans-serif;
$font-secondary: "Open Sans", sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
