@use "variables" as *;
@use "components/header";
@use "components/button";
@use "components/cart";

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: $color-text;
    font-family: $font-secondary;
    font-weight: $font-weight-regular;
    line-height: 1.5;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;
    font-weight: $font-weight-bold;
}

/* Layout */
.page-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        flex-direction: row;
        height: 100%;
    }
}

.left-section,
.right-section {
    flex: 1;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        padding: 60px 40px;
        height: 100%;
    }
}

.right-section {
    background-color: $color-background;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Components */
.header__cart-button {
    &--desktop {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;

        @media (min-width: 1024px) {
            display: flex;
        }
    }

    &--mobile {
        @media (min-width: 1024px) {
            display: none;
        }
    }
}

.main {
    flex: 1;
    display: flex;
    align-items: center;

    &__content {
        width: 100%;
        text-align: center;
        margin: 6.25rem 0;
    }

    &__title {
        font-size: 2rem;
        font-weight: $font-weight-regular;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__description {
        font-size: 1rem;
        font-weight: $font-weight-regular;
        color: $color-text;
        opacity: 0.4;
        line-height: 1.6;
        margin-bottom: 2rem;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.product {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        padding: 40px;
        text-align: center;
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }

    &__image {
        margin: -40px -40px 30px;
        padding: 40px;
        background-color: $color-white;
        border-radius: 20px 20px 0 0;
    }

    &__img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    &__title {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        font-family: $font-secondary;
    }

    &__price {
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: $font-weight-bold;
        font-family: $font-secondary;
        color: $color-primary;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    &__details {
        padding: 0 20px;
    }
}
